/* Override margin and padding for main and container on riderhome page */
.riderhome-main {
  margin-top: 0 !important;
  padding-top: 0 !important;
}

.riderhome-container {
  margin-top: 0 !important;
  padding-top: 0 !important;
}

